<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="task-input.html">
<link rel="import" href="task-filter.html">
<link rel="import" href="task-list.html">

<dom-module id="task-app">
	<template>
      <style>
          :host {
            display: block;
          }
        </style>

    <task-input on-add-task="_addTask">
    </task-input>
    <task-filter>
    </task-filter>
    <task-list filter="[[filter]]" tasks="[[tasks]]" >
    </task-list>
  </template>
	<script>
		class TaskApp extends Polymer.Element {

      static get properties(){
        return {
          tasks: {
                  type: Array,
                   value: [{
                        "title": "tarea1",
                      "completed": false
                      }]
                   },
                   filter: {
                   type: String
                  }
        }
     }

			static get is(){
				return 'task-app'
			}

     _addTask(event){
      console.log(event.detail.value)

    }

		}

		customElements.define(TaskApp.is, TaskApp)
	</script>
</dom-module>