<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="task-element">
	<template>
      <style>
          :host {
            display: block;
          }
          .container {
            display: block;
            height: 100%;
            padding: 0.5rem;
          }
          
        </style>
    <slot></slot>
 	<div class="container">
    <input type="checkbox" name="task">[[task.title]]</input>
 	</div>
  </template>
	<script>
		class TaskElement extends Polymer.Element {
 static get properties() {
        return {
          task: {
            type: Object,
            readOnly: false,
            notify: true
          }
        }
      }

			static get is(){
				return 'task-element'
			}

		}

		customElements.define(TaskElement.is, TaskElement)

	</script>
</dom-module>