<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="task-container.html">
<dom-module id="task-input">
	<template>
      <style>
          :host {
            display: block;
          }
          .container {
            display: block;
            height: 100%;
            padding: 0.5rem;
          }
          
        </style>
	<task-container>
		<h2>Add Task</h2>
		<input type="text"  placeholder="task" class="add-task" ></input><br>
 		<div class="container">
 			<button on-click="_addedTask">Add Task</button>
 		</div>
	</task-container>
  </template>
	<script>
		class TaskInput extends Polymer.Element {
			_addedTask(){
					const tarea = this.shadowRoot.querySelector('.add-task')
					console.log(tarea.value)
					const newEvent = new CustomEvent('add-task',{detail:tarea})

					this.dispatchEvent(newEvent)
				}

			static get is(){
				return 'task-input'
			}

		}

		customElements.define(TaskInput.is, TaskInput)

	</script>
</dom-module>
	