<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="task-container">
	<template>
		<style >
			:host{
				padding: 0 2rem;
			}
		</style>
		<slot>You must put content here</slot>
	</template>
	<script>
	class TaskContainer extends Polymer.Element {
      static get is() {
        return 'task-container'
      }
    }
    customElements.define(TaskContainer.is, TaskContainer)
	</script>
</dom-module>