<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">


<link rel="import" href="task-element.html">
<link rel="import" href="task-container.html">
<dom-module id="task-list">
	<template>
		<style>
			:host{
				display: block;
			}
		</style>
		<task-container>
			<h2>Tasks List</h2>
		<template is="dom-repeat" items="{{tasks}}">
       		<task-element task="[[item]]" on-add-task="_addTask">
       			
       		</task-element>
		</template>
		</task-container>
	</template>
	<script>
		class TaskList extends Polymer.Element {
	
		static get properties(){
				return {
					tasks: {
             			type: Array,
             			 value: []
           				 },
           			 filter: {
             			 type: String
            			}
				}
		}

		_addTask(task){
			console.log(task.detail)

		}
			static get is(){
				return 'task-list'
			}

		}

		customElements.define(TaskList.is, TaskList)

	</script>
</dom-module>
