<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="task-container.html">
<dom-module id="task-filter">
	<template>
      <style>
          :host {
            display: block;
          }
          .container {
            display: block;
            height: 100%;
            padding: 0.5rem;
          }
          
        </style>
    <task-container>
      <h2>Filter Task</h2>
      <input id="task-name"  placeholder="task"></input><br>
      <div class="container">
        <button>Filter Task</button>
      </div>
    </task-container>
  </template>
	<script>
		class TaskFilter extends Polymer.Element {
			static get is(){
				return 'task-filter'
			}

		}

		customElements.define(TaskFilter.is, TaskFilter)

	</script>
</dom-module>
	